*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to right, rgb(241, 196, 136), rgb(238, 162, 62));
}
form{
    width: 350px;
    height: 400px;
    background-color: brown;
    padding-top: 20px;
    margin: 60px auto;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    box-shadow: 10px 20px 15px 10px rgb(100, 78, 49);
}
h1{
    color: aliceblue; 
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
input{
    font-size: 20px;
    padding: 8px;
    display:flex;
    margin: 40px auto;
    width: 80%;
    
    border-style: none;
    border-radius: 10px;
}
label{
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 15px;
}

input[type="button"]{
  width: 100px;
  margin-top: 40px;
  width: 50%; 
  font-size: 20px;
  display: block;
  background: chocolate;
  cursor: pointer;

}
input[type="button"]:hover{
    background-color: coral;
}
